body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%;}
       

.infoQuakesImportant {
            position: absolute;
            top: 400px;
            right: 0;
            width: 300px;
            height: 300px;
            border: 3px solid black;
            border-radius: 20px;
            background-color: white;
            opacity: 0.7;
            overflow: scroll;
}

.infoLastQuakes {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    opacity: 0.7;
    overflow: scroll;
}





p {
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-block: 0;
            
}

h5 {
    color: red;
    font-family: sans-serif;
    margin-top: 10px;

}
        
            
#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
        


fieldset > * {
    vertical-align: middle;
}
    
.leftlabel, .rightlabel {
    display: inline-block;
    width: 50px;
    padding: 2px;
    text-align: center;
}
    
.leftlabel {
    background-color: red;
    color: white;
}
.rightlabel {
    background-color: purple;
    color: white;
}
    
label {
    display: inline-block;
    width: 50px;
}